export VITE_OIDC_ENABLED={{ enduro_dashboard_oidc_enabled }}
export VITE_OIDC_BASE_URL={{ enduro_dashboard_oidc_base_url }}
export VITE_OIDC_AUTHORITY={{ enduro_dashboard_oidc_authority }}
export VITE_OIDC_CLIENT_ID={{ enduro_dashboard_oidc_client_id }}
export VITE_OIDC_SCOPES="{{ enduro_dashboard_oidc_scopes }}"
export VITE_OIDC_EXTRA_QUERY_PARAMS={{ enduro_dashboard_oidc_extra_query_params }}
export VITE_OIDC_ABAC_ENABLED={{ enduro_dashboard_oidc_abac_enabled }}
export VITE_OIDC_ABAC_CLAIM_PATH={{ enduro_dashboard_oidc_abac_claim_path }}
export VITE_OIDC_ABAC_CLAIM_PATH_SEPARATOR={{ enduro_dashboard_oidc_abac_claim_path_separator }}
export VITE_OIDC_ABAC_CLAIM_VALUE_PREFIX={{ enduro_dashboard_oidc_abac_claim_value_prefix }}
export VITE_OIDC_ABAC_USE_ROLES={{ enduro_dashboard_oidc_abac_use_roles }}
export VITE_OIDC_ABAC_ROLES_MAPPING='{{ enduro_dashboard_oidc_abac_roles_mapping | replace('\n','') }}'
export VITE_INSTITUTION_LOGO={{ enduro_institution_logo }}
export VITE_INSTITUTION_NAME="{{ enduro_institution_name }}"
export VITE_INSTITUTION_URL={{ enduro_institution_url }}
export VITE_CUSTOM_HOME_URL={{ enduro_custom_home_url }}
