[Unit]
Description=Enduro
After={{ enduro_systemd_after_services }}

[Service]
Type=simple
Restart=on-failure
User={{ enduro_system_user }}
{% if enduro_systemd_credentials|bool %}
ExecStart={{ enduro_binary_install_dir }}/enduro --config $SECRETS
{% else %}
ExecStart={{ enduro_binary_install_dir }}/enduro --config /etc/enduro.toml
{% endif %}
{% if enduro_use_syslog|bool %}
SyslogIdentifier=enduro
StandardOutput=syslog
StandardError=inherit
{% endif %}

[Install]
WantedBy={{ enduro_systemd_wantedby_services }}
